h1 {
    text-align: center;
}

h3 {
    color: green;
}

.ul-simple {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    background-color: #eee;
    height: 700px;
    width: 800px;
    padding: 2em;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
}

.letters {
    float: left;
    width: 30%;
    margin-bottom: 24px;
}

.hangman {
    float: right;
    width: 55%;
}

.pressedKeys {
    clear: left;
    width 30%;
    font-size: 16px;
    font-weight: bold;
}

.selected {
    opacity: 0.2;
}

.button {
    width: 48px;
    height: 48px;
    border: 1px solid black;
}

.button:hover {
    background-color: gray;
}

.bgGreen {
    background-color: green;
}

.bgRed {
    background-color: red;
}

.left {
    float: left;
}
