h1 {
    text-align: center;
}

h3 {
    color: green;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.ul-simple {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    background-color: #eee;
    height: 700px;
    width: 800px;
    padding: 2em;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
}

.leftLane {
    float: left;
    width: 50%;
}

.rightLane {
    float: right;
    width: 50%;
}

.gameButtons {
    margin-bottom: 48px;
}

.button {
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid black;
}

.button:hover {
    background-color: gray;
}

.gameInfo {
    clear: both;
}

.pressedKeys {
    margin-bottom: 48px;
}

.hiddenWord {
    font-size: 24px;
    letter-spacing: 2px;
}

.selected {
    opacity: 0.2;
}

.green {
    color: green;
}

.red {
    color: red;
}
