@import url("flags.css");

h2, h4, h5, h6, p {
	margin: 0 0 24px 0;
}


h1 {
	text-align: center;
	margin: 0 0 24px 0;
}

h3 {
	color: green;
	margin: 0 0 24px 0;
}

body {
	background-color: #b2dfff;
}

.buttonDiv {
	text-align: center;
}

.startButton {
	color: white;
	font-size: 24px;
	background-color: #87CEFF;
	padding: 15px;
	border: hidden;
	border-radius: 25px;
}

.content {
	width: 720px;
	background-color: white;
	margin: 0 auto;
	padding: 2em;
	border-radius: 30px;
}

.answer {
	display: block;
	margin-bottom: 24px;
}

.selected {
	opacity: 0.4;
}

.green {
	color: green;
}

.buttonGreen {
	color: black;
	background-color: green;
}

.buttonRed {
	color: black;
	background-color: #8b0000;
}
