@import url("flags.css");

html {
	overflow-y: scroll;
}

h2, h4, h5, h6, p {
	margin: 0 0 24px 0;
}


h1 {
	margin: 0 0 24px 0;
	text-align: center;
}

h3 {
	margin: 0 0 24px 0;
	color: green;
}

body {
	background-color: #b2dfff;
}

div {
	margin: 0;
}

.buttonDiv {
	text-align: center;
}

.startButton {
	padding: 15px;
	border: hidden;
	border-radius: 25px;
	background-color: #87CEFF;
	color: white;
	font-size: 24px;
}

.content {
	overflow-y: auto;
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 2em;
	border-radius: 30px;
	background-color: white;
}

.answer {
	display: block;
	margin-bottom: 24px;
}

.selected {
	opacity: 0.4;
}

.green {
	color: green;
}

.buttonGreen {
	background-color: green;
	color: black;
}

.buttonRed {
	background-color: #8b0000;
	color: black;
}
