.baddie {
	position: absolute;
	height: 50px;
	width: 50px;

	/* ASSIGNMENT
	 * Change baddie image to your own baddie or character */
	background: url("../img/nicubunu.png");

	background-size: 50px;

    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition : all 0.3s ease-in-out;
    -o-transition : all 0.3s ease-in-out;
    transition : all 0.3s ease-in-out;
}
